<%- include('../primary/onHead', {data: data}); -%>
<section class="container">
    <div class="limiter">
        <div class="container-login100">
            <div class="row wrap-login100">
                <div class="login100-form-title">
                    <span class="login100-form-title-1">Inicia sesión</span>
                </div>

                    <div class="text-center w-100" style="padding-top: 15px;">
                        <img class="rounded hidalgo" src="image/logo.png" alt="IHJ Logo"/>
                    </div>

                    <div class="login100-form">
                                <div class="col-12 col-lg-6 mb-3">
                                    <label htmlFor="email">Email: </label>
                                    <input 
                                        type="email" class="form-control" 
                                        id="email" name="email" required
                                        placeholder="Ingresa email"
                                    />
                                </div>

                                <div class="col-12 col-lg-6 mb-3">
                                    <label htmlFor="password">Contraseña: </label>
                                    <input 
                                        type="password" class="form-control" 
                                        id="password" name="password" required
                                        placeholder="Ingresa contraseña"
                                    />
                                </div>

                                <div class="col-12 mt-3">
                                    <button class="btn btn-success login100-form-btn" id="senderbtn">
                                        Ingresar
                                    </button>
                                </div>
                    </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(() =>{
        $("#senderbtn").click(() =>{
            if($("email").val() !="" && $("password").val() !=""){
                const data = {
                    email: $("#email").val(),
                    password: $("#password").val()
                };

                $.ajax({
                    url: "/login",
                    method: "POST",
                    data: data,
                    success: (result) =>{
                        if(result.success){
                            if(result.level === "Administrador"){
                                window.location.href = "/principal";
                            } else{
                                window.location.href = "/principaluser"
                            }
                        } else{
                            window.alert("Usuario incorrecto");
                        }
                    }
                });
            }else{
                window.alert("Ingresa tus datos");
            }
        });
    });
</script>
<%- include('../primary/onBody', {data: data}); -%>